<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">
    <!-- Material definition -->
    <material name="color_body_front">
        <color rgba="1 0.3 0.1 1"/>
    </material>
    
    <!-- Root World -->
    <link name="world" />

    <!-- Includes -->
    <xacro:include filename="wheel.urdf.xacro"/>
    <xacro:include filename="body.urdf.xacro"/>

    <!-- Wheel definitions -->
    <xacro:wheel diff_name="front_left" roll="1.57" pitch="0.0" yaw="0.0" x="0.162" y="0.132" z="-0.041"/>
    <xacro:wheel diff_name="front_right" roll="-1.57" pitch="0.0" yaw="0.0" x="0.162" y="-0.132" z="-0.041"/>
    <xacro:wheel diff_name="rear_left" roll="1.57" pitch="0.0" yaw="0.0" x="-0.18" y="0.132" z="-0.041"/>
    <xacro:wheel diff_name="rear_right" roll="-1.57" pitch="0.0" yaw="0.0" x="-0.18" y="-0.132" z="-0.041"/>

    <!-- Joints for wheels -->
    <joint name="joint_wheel_body_to_front_left" type="continuous">
        <parent link="link_body"/>
        <child link="link_wheel_front_left"/>
        <axis xyz="0 0 0"/>
        <origin xyz="0.162 0.132 -0.041" rpy="1.57 0 0"/>
    </joint>

    <joint name="joint_wheel_body_to_front_right" type="continuous">
        <parent link="link_body"/>
        <child link="link_wheel_front_right"/>
        <axis xyz="0 0 0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <joint name="joint_wheel_body_to_rear_left" type="continuous">
        <parent link="link_body"/>
        <child link="link_wheel_rear_left"/>
        <axis xyz="0 0 0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <joint name="joint_wheel_body_to_rear_right" type="continuous">
        <parent link="link_body"/>
        <child link="link_wheel_rear_right"/>
        <axis xyz="0 0 0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <!-- Joints World -->
    <joint name="world_to_link_body" type="fixed">
        <parent link="world"/>
        <child link="link_body"/>
        <axis xyz="0 0 0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
    <joint name="world_to_wheel_front_left" type="fixed">
        <parent link="world"/>
        <child link="link_wheel_front_left"/>
        <axis xyz="0 0 0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
    <joint name="world_to_wheel_front_right" type="fixed">
        <parent link="world"/>
        <child link="link_wheel_front_right"/>
        <axis xyz="0 0 0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <joint name="world_to_wheel_rear_left" type="fixed">
        <parent link="world"/>
        <child link="link_wheel_rear_left"/>
        <axis xyz="0 0 0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <joint name="world_to_wheel_rear_right" type="fixed">
        <parent link="world"/>
        <child link="link_wheel_rear_right"/>
        <axis xyz="0 0 0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
</robot>
