<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">
    <!-- Material definition -->
    <material name="color_body_front">
        <color rgba="1 0.3 0.1 1"/>
    </material>
    
    <!-- Root World -->
    <link name="world" />

    <!-- Includes -->
    <xacro:include filename="wheel.urdf.xacro"/>
    <xacro:include filename="body.urdf.xacro"/>

    <!-- Wheel definitions -->
    <xacro:property name="wheel_roll" value="1.57"/>
    <xacro:property name="wheel_pitch" value="0.0"/>
    <xacro:property name="wheel_yaw" value="0.0"/>

    <xacro:property name="wheel_offset_y" value="0.132"/>
    <xacro:property name="wheel_offset_z" value="-0.041"/>

    <xacro:property name="wheel_offset_x_f" value="0.162"/>
    <xacro:property name="wheel_offset_x_r" value="-0.18"/>
 
    <xacro:wheel diff_name="front_left" 
        roll="${wheel_roll}" pitch="${wheel_pitch}" yaw="${wheel_yaw}"
        x="0" y="0" z="0"/>
    <xacro:wheel diff_name="front_right" 
        roll="-${wheel_roll}" pitch="${wheel_pitch}" yaw="${wheel_yaw}"
        x="0" y="0" z="0"/>
    
    <xacro:wheel diff_name="rear_left" roll="${wheel_roll}" pitch="${wheel_pitch}" yaw="${wheel_yaw}"
        x="0" y="0" z="0"/>
    <xacro:wheel diff_name="rear_right" roll="-${wheel_roll}" pitch="${wheel_pitch}" yaw="${wheel_yaw}" 
        x="0" y="0" z="0"/>

    <!-- Joints for wheels -->
    <xacro:create_wheel_joint wheel_name="front_left" axis_xyz="0 0 1" origin_xyz="${wheel_offset_x_f} ${wheel_offset_y} ${wheel_offset_z}" origin_rpy="0 0 0"/>
    <xacro:create_wheel_joint wheel_name="front_right" axis_xyz="0 0 1" origin_xyz="${wheel_offset_x_f} -${wheel_offset_y} ${wheel_offset_z}" origin_rpy="0 0 0"/>

    <xacro:create_wheel_joint wheel_name="rear_left" axis_xyz="0 0 1" origin_xyz="${wheel_offset_x_r} ${wheel_offset_y} ${wheel_offset_z}" origin_rpy="0 0 0"/>
    <xacro:create_wheel_joint wheel_name="rear_right" axis_xyz="0 0 1" origin_xyz="${wheel_offset_x_r} -${wheel_offset_y} ${wheel_offset_z}" origin_rpy="0 0 0"/>

    <!-- Joints World -->
    <joint name="world_to_link_body" type="fixed">
        <parent link="world"/>
        <child link="link_body"/>
        <axis xyz="0 0 0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
    <!-- <joint name="world_to_wheel_front_left" type="fixed">
        <parent link="world"/>
        <child link="link_wheel_front_left"/>
        <axis xyz="0 0 0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
    <joint name="world_to_wheel_front_right" type="fixed">
        <parent link="world"/>
        <child link="link_wheel_front_right"/>
        <axis xyz="0 0 0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <joint name="world_to_wheel_rear_left" type="fixed">
        <parent link="world"/>
        <child link="link_wheel_rear_left"/>
        <axis xyz="0 0 0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
    <joint name="world_to_wheel_rear_right" type="fixed">
        <parent link="world"/>
        <child link="link_wheel_rear_right"/>
        <axis xyz="0 0 0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint> -->
</robot>
