<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Gazebo Plugin -->
    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find robot_description)/config/drive_controller_hardware.yaml</parameters> <!-- drive_controller_sim -->
            <parameters>$(find robot_description)/config/gazebo_params.yaml</parameters>
        </plugin>
    </gazebo>

    <!-- Gazebo Body Ref -->
    <gazebo reference="link_body">
    </gazebo>

    <!-- Gazebo Wheels Ref -->
    <!-- <gazebo reference="link_wheel_front_left">
        <mu1 value="1.0"/> 
        <mu2 value="1.0"/>
    </gazebo>
    <gazebo reference="link_wheel_front_right">
        <mu1 value="1.0"/>
        <mu2 value="1.0"/>
    </gazebo>
    <gazebo reference="link_wheel_rear_left">
        <mu1 value="1.0"/>
        <mu2 value="1.0"/>
    </gazebo>
    <gazebo reference="link_wheel_rear_right">
        <mu1 value="1.0"/>
        <mu2 value="1.0"/>
    </gazebo> -->
    <gazebo reference="link_wheel_front_left">
        <mu1 value="0.001"/>
        <mu2 value="0.001"/>
    </gazebo>
    <gazebo reference="link_wheel_front_right">
        <mu1 value="0.001"/>
        <mu2 value="0.001"/>
    </gazebo>
    <gazebo reference="link_wheel_rear_left">
        <mu1 value="0.001"/>
        <mu2 value="0.001"/>
    </gazebo>
    <gazebo reference="link_wheel_rear_right">
        <mu1 value="0.001"/>
        <mu2 value="0.001"/>
    </gazebo>
</robot>
