<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="ros2_control_cybertruck" type="system">
      <hardware>
          <xacro:if value="$(arg use_gazebo_ros2_control)">
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
          </xacro:if>
          <xacro:unless value="$(arg use_gazebo_ros2_control)">
            <plugin>robot_description/RobotHardwareInterface</plugin>
            <param name="front_wheel_right_vel">joint_rotation_front_right</param>
            <param name="front_wheel_left_vel">joint_rotation_front_left</param>
            <param name="front_wheel_right_pos">joint_steering_front_right</param>
            <param name="front_wheel_left_pos">joint_steering_front_left</param>
            <param name="rear_wheel_right_vel">joint_rotation_rear_right</param>
            <param name="rear_wheel_left_vel">joint_rotation_rear_left</param>
            <param name="rear_wheel_right_pos">joint_steering_rear_right</param>
            <param name="rear_wheel_left_pos">joint_steering_rear_left</param>
            <param name="device">/dev/ttyUSB0</param>
            <param name="device2">/dev/ttyUSB1</param> <!-- For Lights -->
            <param name="baud_rate">115200</param>
            <param name="timeout_ms">1000</param>
          </xacro:unless>
      </hardware>
      <joint name="joint_rotation_front_left">
        <command_interface name="velocity">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="joint_rotation_front_right">
        <command_interface name="velocity">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="joint_rotation_rear_left">
        <command_interface name="velocity">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="joint_rotation_rear_right">
        <command_interface name="velocity">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="joint_steering_front_left">
        <command_interface name="position">
          <param name="min">-3.104</param>
          <param name="max">3.104</param>
        </command_interface>
        <state_interface name="position"/>
      </joint>
      <joint name="joint_steering_front_right">
        <command_interface name="position">
          <param name="min">-3.104</param>
          <param name="max">3.104</param>
        </command_interface>
        <state_interface name="position"/>
      </joint>
      <joint name="joint_steering_rear_left">
        <command_interface name="position">
          <param name="min">-3.104</param>
          <param name="max">3.104</param>
        </command_interface>
        <state_interface name="position"/>
      </joint>
      <joint name="joint_steering_rear_right">
        <command_interface name="position">
          <param name="min">-3.104</param>
          <param name="max">3.104</param>
        </command_interface>
        <state_interface name="position"/>
      </joint>
    </ros2_control>
    
</robot>
