<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="wheel" params="roll pitch yaw x y z">
        <link name="link_tire">
            <visual>
                <origin xyz="${x} ${y} ${z}" rpy="${roll} ${pitch} ${yaw}"/>
                <geometry>
                    <mesh filename="package://robot_description/meshes/tire.stl" scale="1.0 1.0 1.0"/>
                </geometry>
                <material name="color_body_front" />
            </visual>
        </link>

        <link name="link_rims">
            <visual>
                <origin xyz="${x} ${y} ${z}" rpy="${roll} ${pitch} ${yaw}"/>
                <geometry>
                    <mesh filename="package://robot_description/meshes/rims.stl" scale="1.0 1.0 1.0"/>
                </geometry>
                <material name="color_body_front" />
            </visual>
        </link>
    </xacro:macro>

    <!-- <xacro:wheel roll="0.0" pitch="1.57" yaw="0.0" x="0.0" y="0.0" z="0.0"/> -->

    <joint name="joint_link_rims_to_link_tire" type="fixed">
        <parent link="link_rims"/>
        <child link="link_tire"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </joint>
    
    <xacro:wheel roll="0.0" pitch="1.57" yaw="0.0" x="0.0" y="0.0" z="0.0"/>
    <!-- <xacro:macro name="wheel_with_joint" params="wheel_name roll pitch yaw x y z">
        <xacro:wheel roll="${roll}" pitch="${pitch}" yaw="${yaw}" x="${x}" y="${y}" z="${z}"/>

        <joint name="joint_${wheel_name}" type="continuous">
            <parent link="base_link"/>
            <child link="link_tire"/>
            <origin xyz="${x} ${y} ${z}" rpy="${roll} ${pitch} ${yaw}"/>
        </joint>
    </xacro:macro> -->
    <!-- <xacro:wheel_with_joint wheel_name="front_right" roll="1.57" pitch="0.0" yaw="0.0" x="0.162" y="-0.132" z="-0.041"/> -->
    
</robot>